@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
	font-family: "Roboto Mono", monospace;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #282c34;
	
}

.container {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	text-align: center;
	border-radius: 20px;
	border: 5px solid #181a1f;
	background-color: #181a1f;
	box-shadow: 0px 10px 100px rgb(0, 0, 0, 0.3);
}

.keypad {
	display: grid;
	grid-template-columns: repeat(4, 6rem);
	grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
	margin: 5px;
}

form {
    grid-column: 1 / -1;
}

input {
	height: 100px;
	width: 90%;
	border: none;
	background-color: #181a1f;
	color: white;
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: right;
}

button {
	color: white;
	background-color: #282c34;
	font-size: 25px;
	font-weight: 500;
	margin: 7px;
	border: none;
	border-radius: 5px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.25s;

}

/* ========== BUTTONS ========== */

button:hover {
	background-color: #20232a;
}
button:active {
	background-color: #181a1f;
}

#clear, #equals {
	border-radius: 3rem;
}

/* ========== OPERATORS/FUNCTIONS ========== */

.operator {
	color: #38ef7d;
}
#clear, #backspace, .percent {
	background-color: #454c5a;
	transition: background-color 0.25s;
}
#clear:hover, #backspace:hover, .percent:hover {
	background-color: #373d48;
}
#clear:active, #backspace:active, .percent:active {
	background-color: #292e36;
}

/* ========== EQUALS ========== */

#equals {
	grid-column: span 2;
	background-color: #38ef7d;
	font-size: 40px;
	transition: background-color 0.25s;
}
#equals:hover {
	background-color: #11E25E;
}
#equals:active {
	background-color: #00B541;
}